.structure__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.structure {
    padding-top: 30px;
    padding-bottom: 30px;
}

.structure__title {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #ff0000;
}

// .list {
//     // display: flex;
//     // flex-wrap: wrap;
//     // justify-content: space-evenly;
//     // gap: 30px;
// }

.list__item, .depart__item {
    display: flex;
    align-items: center;
    column-gap: 20px;
    max-width: 380px;
    width: 100%;
    padding: 20px;
    // background-color: #f7f1f1;
    background-color: #e04444;
    box-shadow: 0px 4px 14px 0px #cde3ef;
    border-radius: 10px;
}

.list__img {
    display: block;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 50%;
}

.list__position {
    font-family: serif;
    font-style: italic;
    font-size: 18px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
}

.list__name {
    display: block;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #fff;
    color: #fff;
}

.coo-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: center;
}

.maneger {
    margin: 0 auto;
    margin-top: 30px;
}

.departments__cards .list__name {
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #fff;
    color: #fff;
}

.departments__list {
    display: flex;
    flex-direction: column;
}

.depart__item:nth-child(5) .list__img {
    margin: 0;
}

.depart__item:nth-child(5) {
    display: flex;
    column-gap: 50px;
}


.departments__list-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 36px;
}

.bg-color {
    background-color: #f4f4f4;
}

.departments__name {
    color: #333;
    text-align: left;
    font-size: 16px;
}

.block__style {
    display: block;
}

.department__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.departments__item:not(:last-child) {
    margin-bottom: 20px;
}

.show-btn {
    width: 40px;
    height: 40px;
    background-image: url("../../images/CaretDown.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    transition: all 1s ease;
}

.departments__item:hover {
    background-color: #f4f4f4;
}

.departments__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    padding-bottom: 30px;
}

.departments__cards {
    display: none;
}

.rotated {
    transform: rotate(180deg);
}

.site-main__iframe {
    padding-top: 50px;
    padding-bottom: 50px;
}

.iframe__link {
    max-width: 1200px;
    width: 100%;
    height: 500px;
}








@media only screen and (min-width: 520px) {
    .departments__name {
        color: #333;
        text-align: left;
        font-size: 22px;
    }

}


@media only screen and (min-width: 830px) {

    .department__wrapper {
        max-width: 793px;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .departments__list-title {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 46px;
    }


    .structure__title {
        margin-bottom : 50px;
    }

    .coo-wrapper {
        display: flex;
        flex-wrap: wrap;
        row-gap: 0;
        justify-content: space-evenly;
    }

    .departments__cards {
        justify-content: space-evenly;
    }

    .departments__name {
        color: #333;
        text-align: center;
        font-size: 26px;
    }

}

@media only screen and (min-width: 1024px) {
    .structure__title {
        margin-bottom: 60px;
    }
}